.searchForm {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px 0;
}
.searchForm input {
  all: unset;
  width: 80%;
  height: 100%;
  background-color: #fafafa;
}
.searchForm button {
  all: unset;
  width: 20%;
  height: 100%;
}
